$main: #033E8C;

$main_light: #e1e7ef;

$second: #7898C9;

$secondary: #7898C9;

$dark: #353535;

$gray: #b2b2b2;

$light: #fafafa;

$white: #ffffff;


@mixin graygradient{
    background: linear-gradient(0deg, rgba(178,178,178, .5) 0%, rgba(178,178,178, 0) 100%); /* W3C */
}



$advance: #D64444;

$ontime: #B0C4DE;

$late: #1E992A;

$offpath: #FFD700;

$deadrun: #BD6CC1;

$virtual: #20FFFF;
