$icomoon-font-family: "thetis_icon" !default;
$icomoon-font-path: "fonts" !default;

$add_user: "\e900";
$add: "\e901";
$arrow_down: "\e902";
$arrow_left: "\e903";
$arrow_long_down: "\e904";
$arrow_long_left: "\e905";
$arrow_long_right: "\e906";
$arrow_long_top: "\e907";
$arrow_right: "\e908";
$arrow_top: "\e909";
$bino: "\e90a";
$bus_alt: "\e90b";
$bus_stop_alt: "\e90c";
$bus_stop: "\e90d";
$bus: "\e90e";
$calendar: "\e90f";
$call: "\e910";
$check: "\e911";
$close: "\e912";
$displaty_table_alt: "\e913";
$display_table: "\e914";
$docu: "\e915";
$download_alt: "\e916";
$download: "\e917";
$edit_alt: "\e918";
$edit: "\e919";
$filter: "\e91a";
$gps: "\e91b";
$list_alt: "\e91c";
$list_select: "\e91d";
$list: "\e91e";
$login_alt: "\e91f";
$login: "\e920";
$logout_alt: "\e921";
$logout: "\e922";
$menu: "\e923";
$message: "\e924";
$narrow: "\e925";
$package_upload: "\e926";
$pin_alt: "\e927";
$pin: "\e928";
$play: "\e929";
$radar: "\e92a";
$refresh: "\e92b";
$remove_user: "\e92c";
$remove: "\e92d";
$report: "\e92e";
$search: "\e92f";
$simul: "\e930";
$sort_asc: "\e931";
$sort_desc: "\e932";
$table: "\e933";
$trash_alt-path1: "\e934";
$trash_alt-path2: "\e935";
$trash_alt-path3: "\e936";
$trash_alt-path4: "\e937";
$trash: "\e938";
$user_alt: "\e939";
$user: "\e93a";
$users_alt: "\e93b";
$users: "\e93c";

