@font-face {
  font-family: 'thetis_icon';
  src:  url('fonts/thetis_icon.eot?nkd1s7');
  src:  url('fonts/thetis_icon.eot?nkd1s7#iefix') format('embedded-opentype'),
    url('fonts/thetis_icon.ttf?nkd1s7') format('truetype'),
    url('fonts/thetis_icon.woff?nkd1s7') format('woff'),
    url('fonts/thetis_icon.svg?nkd1s7#thetis_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thetis_icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add_user:before {
  content: "\e900";
}
.add:before {
  content: "\e901";
}
.arrow_down:before {
  content: "\e902";
}
.arrow_left:before {
  content: "\e903";
}
.arrow_long_down:before {
  content: "\e904";
}
.arrow_long_left:before {
  content: "\e905";
}
.arrow_long_right:before {
  content: "\e906";
}
.arrow_long_top:before {
  content: "\e907";
}
.arrow_right:before {
  content: "\e908";
}
.arrow_top:before {
  content: "\e909";
}
.bino:before {
  content: "\e90a";
}
.bus_alt:before {
  content: "\e90b";
}
.bus_stop_alt:before {
  content: "\e90c";
}
.bus_stop:before {
  content: "\e90d";
}
.bus:before {
  content: "\e90e";
}
.calendar:before {
  content: "\e90f";
}
.call:before {
  content: "\e910";
}
.check:before {
  content: "\e911";
}
.close:before {
  content: "\e912";
}
.displaty_table_alt:before {
  content: "\e913";
}
.display_table:before {
  content: "\e914";
}
.docu:before {
  content: "\e915";
}
.download_alt:before {
  content: "\e916";
}
.download:before {
  content: "\e917";
}
.edit_alt:before {
  content: "\e918";
}
.edit:before {
  content: "\e919";
}
.filter:before {
  content: "\e91a";
}
.gps:before {
  content: "\e91b";
}
.list_alt:before {
  content: "\e91c";
}
.list_select:before {
  content: "\e91d";
}
.list:before {
  content: "\e91e";
}
.login_alt:before {
  content: "\e91f";
}
.login:before {
  content: "\e920";
}
.logout_alt:before {
  content: "\e921";
}
.logout:before {
  content: "\e922";
}
.menu:before {
  content: "\e923";
}
.message:before {
  content: "\e924";
}
.narrow:before {
  content: "\e925";
}
.package_upload:before {
  content: "\e926";
}
.pin_alt:before {
  content: "\e927";
}
.pin:before {
  content: "\e928";
}
.play:before {
  content: "\e929";
}
.radar:before {
  content: "\e92a";
}
.refresh:before {
  content: "\e92b";
}
.remove_user:before {
  content: "\e92c";
}
.remove:before {
  content: "\e92d";
}
.report:before {
  content: "\e92e";
}
.search:before {
  content: "\e92f";
}
.simul:before {
  content: "\e930";
}
.sort_asc:before {
  content: "\e931";
}
.sort_desc:before {
  content: "\e932";
}
.table:before {
  content: "\e933";
}
.trash_alt .path1:before {
  content: "\e934";
  color: rgb(0, 0, 0);
}
.trash_alt .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.trash_alt .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.trash_alt .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.trash:before {
  content: "\e938";
}
.user_alt:before {
  content: "\e939";
}
.user:before {
  content: "\e93a";
}
.users_alt:before {
  content: "\e93b";
}
.users:before {
  content: "\e93c";
}
