@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?96w7sr');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?96w7sr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?96w7sr') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?96w7sr') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?96w7sr##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add {
  &:before {
    content: $add; 
  }
}
.alert {
  &:before {
    content: $alert; 
  }
}
.arrow_down_long {
  &:before {
    content: $arrow_down_long; 
  }
}
.arrow_down {
  &:before {
    content: $arrow_down; 
  }
}
.arrow_left_long {
  &:before {
    content: $arrow_left_long; 
  }
}
.arrow_left {
  &:before {
    content: $arrow_left; 
  }
}
.arrow_right_long {
  &:before {
    content: $arrow_right_long; 
  }
}
.arrow_right {
  &:before {
    content: $arrow_right; 
  }
}
.arrow_up_long {
  &:before {
    content: $arrow_up_long; 
  }
}
.arrow_up {
  &:before {
    content: $arrow_up; 
  }
}
.bell {
  &:before {
    content: $bell; 
  }
}
.binocular {
  &:before {
    content: $binocular; 
  }
}
.books {
  &:before {
    content: $books; 
  }
}
.bus {
  &:before {
    content: $bus; 
  }
}
.calendar {
  &:before {
    content: $calendar; 
  }
}
.call {
  &:before {
    content: $call; 
  }
}
.check {
  &:before {
    content: $check; 
  }
}
.close {
  &:before {
    content: $close; 
  }
}
.coincidence {
  &:before {
    content: $coincidence; 
  }
}
.deviation {
  &:before {
    content: $deviation; 
  }
}
.display {
  &:before {
    content: $display; 
  }
}
.download {
  &:before {
    content: $download; 
  }
}
.edit {
  &:before {
    content: $edit; 
  }
}
.error {
  &:before {
    content: $error; 
  }
}
.filter {
  &:before {
    content: $filter; 
  }
}
.gps {
  &:before {
    content: $gps; 
  }
}
.help {
  &:before {
    content: $help; 
  }
}
.home {
  &:before {
    content: $home; 
  }
}
.info {
  &:before {
    content: $info; 
  }
}
.insert {
  &:before {
    content: $insert; 
  }
}
.linear_view {
  &:before {
    content: $linear_view; 
  }
}
.list {
  &:before {
    content: $list; 
  }
}
.login {
  &:before {
    content: $login; 
  }
}
.logout {
  &:before {
    content: $logout; 
  }
}
.maintenance {
  &:before {
    content: $maintenance; 
  }
}
.map {
  &:before {
    content: $map; 
  }
}
.match {
  &:before {
    content: $match; 
  }
}
.menu {
  &:before {
    content: $menu; 
  }
}
.message {
  &:before {
    content: $message; 
  }
}
.narrow {
  &:before {
    content: $narrow; 
  }
}
.pin {
  &:before {
    content: $pin; 
  }
}
.planification {
  &:before {
    content: $planification; 
  }
}
.play {
  &:before {
    content: $play; 
  }
}
.radar {
  &:before {
    content: $radar; 
  }
}
.refresh {
  &:before {
    content: $refresh; 
  }
}
.remove {
  &:before {
    content: $remove; 
  }
}
.restart {
  &:before {
    content: $restart; 
  }
}
.search {
  &:before {
    content: $search; 
  }
}
.sort_asc {
  &:before {
    content: $sort_asc; 
  }
}
.sort_desc {
  &:before {
    content: $sort_desc; 
  }
}
.stats {
  &:before {
    content: $stats; 
  }
}
.status {
  &:before {
    content: $status; 
  }
}
.stop {
  &:before {
    content: $stop; 
  }
}
.table {
  &:before {
    content: $table; 
  }
}
.trash {
  &:before {
    content: $trash; 
  }
}
.upload {
  &:before {
    content: $upload; 
  }
}
.user_add {
  &:before {
    content: $user_add; 
  }
}
.user_remove {
  &:before {
    content: $user_remove; 
  }
}
.user {
  &:before {
    content: $user; 
  }
}
.users {
  &:before {
    content: $users; 
  }
}

