@font-face {
  font-family: 'thetis_icon';
  src:  url('fonts/thetis_icon.eot?x9m9eg');
  src:  url('fonts/thetis_icon.eot?x9m9eg#iefix') format('embedded-opentype'),
    url('fonts/thetis_icon.ttf?x9m9eg') format('truetype'),
    url('fonts/thetis_icon.woff?x9m9eg') format('woff'),
    url('fonts/thetis_icon.svg?x9m9eg#thetis_icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thetis_icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_g:before {
  content: "\e900";
}
.icon_add:before {
  content: "\e901";
}
.icon_alert:before {
  content: "\e902";
}
.icon_arrival_time:before {
  content: "\e903";
}
.icon_arrow_down_long:before {
  content: "\e904";
}
.icon_arrow_down:before {
  content: "\e905";
}
.icon_arrow_left_long:before {
  content: "\e906";
}
.icon_arrow_left:before {
  content: "\e907";
}
.icon_arrow_right_long:before {
  content: "\e908";
}
.icon_arrow_right:before {
  content: "\e909";
}
.icon_arrow_up_long:before {
  content: "\e90a";
}
.icon_arrow_up:before {
  content: "\e90b";
}
.icon_bell:before {
  content: "\e90c";
}
.icon_binocular:before {
  content: "\e90d";
}
.icon_books:before {
  content: "\e90e";
}
.icon_bus:before {
  content: "\e90f";
}
.icon_calendar:before {
  content: "\e910";
}
.icon_call:before {
  content: "\e911";
}
.icon_check:before {
  content: "\e912";
}
.icon_close:before {
  content: "\e913";
}
.icon_coincidence:before {
  content: "\e914";
}
.icon_departure_time:before {
  content: "\e915";
}
.icon_deviation:before {
  content: "\e916";
}
.icon_display:before {
  content: "\e917";
}
.icon_doc_folder:before {
  content: "\e918";
}
.icon_doc_page:before {
  content: "\e919";
}
.icon_doc_table:before {
  content: "\e91a";
}
.icon_download_log:before {
  content: "\e91b";
}
.icon_download_mobile:before {
  content: "\e91c";
}
.icon_download:before {
  content: "\e91d";
}
.icon_edit:before {
  content: "\e91e";
}
.icon_error:before {
  content: "\e91f";
}
.icon_expand_1:before {
  content: "\e920";
}
.icon_expand:before {
  content: "\e921";
}
.icon_filter:before {
  content: "\e922";
}
.icon_gps:before {
  content: "\e923";
}
.icon_help:before {
  content: "\e924";
}
.icon_home:before {
  content: "\e925";
}
.icon_info:before {
  content: "\e926";
}
.icon_insert:before {
  content: "\e927";
}
.icon_linear_view:before {
  content: "\e928";
}
.icon_list:before {
  content: "\e929";
}
.icon_login:before {
  content: "\e92a";
}
.icon_logout:before {
  content: "\e92b";
}
.icon_mail:before {
  content: "\e92c";
}
.icon_maintenance:before {
  content: "\e92d";
}
.icon_map:before {
  content: "\e92e";
}
.icon_match:before {
  content: "\e92f";
}
.icon_menu:before {
  content: "\e930";
}
.icon_message:before {
  content: "\e931";
}
.icon_minimize:before {
  content: "\e932";
}
.icon_more:before {
  content: "\e933";
}
.icon_narrow:before {
  content: "\e934";
}
.icon_navigator:before {
  content: "\e935";
}
.icon_pin:before {
  content: "\e936";
}
.icon_planification:before {
  content: "\e937";
}
.icon_play:before {
  content: "\e938";
}
.icon_radar:before {
  content: "\e939";
}
.icon_reduce:before {
  content: "\e93a";
}
.icon_refresh:before {
  content: "\e93b";
}
.icon_remove:before {
  content: "\e93c";
}
.icon_restart:before {
  content: "\e93d";
}
.icon_satellite:before {
  content: "\e93e";
}
.icon_search:before {
  content: "\e93f";
}
.icon_sort_asc:before {
  content: "\e940";
}
.icon_sort_desc:before {
  content: "\e941";
}
.icon_stats:before {
  content: "\e942";
}
.icon_status:before {
  content: "\e943";
}
.icon_stop:before {
  content: "\e944";
}
.icon_table:before {
  content: "\e945";
}
.icon_thetis_logo:before {
  content: "\e946";
}
.icon_traffic_light:before {
  content: "\e947";
}
.icon_trash:before {
  content: "\e948";
}
.icon_upload:before {
  content: "\e949";
}
.icon_user_add:before {
  content: "\e94a";
}
.icon_user_remove:before {
  content: "\e94b";
}
.icon_user:before {
  content: "\e94c";
}
.icon_users:before {
  content: "\e94d";
}
.icon_walk:before {
  content: "\e94e";
}
.icon_wifi:before {
  content: "\e94f";
}
