$icomoon-font-family: "thetis_icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_g: "\e900";
$icon_add: "\e901";
$icon_alert: "\e902";
$icon_arrival_time: "\e903";
$icon_arrow_down_long: "\e904";
$icon_arrow_down: "\e905";
$icon_arrow_left_long: "\e906";
$icon_arrow_left: "\e907";
$icon_arrow_right_long: "\e908";
$icon_arrow_right: "\e909";
$icon_arrow_up_long: "\e90a";
$icon_arrow_up: "\e90b";
$icon_bell: "\e90c";
$icon_binocular: "\e90d";
$icon_books: "\e90e";
$icon_bus: "\e90f";
$icon_calendar: "\e910";
$icon_call: "\e911";
$icon_check: "\e912";
$icon_close: "\e913";
$icon_coincidence: "\e914";
$icon_departure_time: "\e915";
$icon_deviation: "\e916";
$icon_display: "\e917";
$icon_doc_folder: "\e918";
$icon_doc_page: "\e919";
$icon_doc_table: "\e91a";
$icon_download_log: "\e91b";
$icon_download_mobile: "\e91c";
$icon_download: "\e91d";
$icon_edit: "\e91e";
$icon_error: "\e91f";
$icon_expand_1: "\e920";
$icon_expand: "\e921";
$icon_filter: "\e922";
$icon_gps: "\e923";
$icon_help: "\e924";
$icon_home: "\e925";
$icon_info: "\e926";
$icon_insert: "\e927";
$icon_linear_view: "\e928";
$icon_list: "\e929";
$icon_login: "\e92a";
$icon_logout: "\e92b";
$icon_mail: "\e92c";
$icon_maintenance: "\e92d";
$icon_map: "\e92e";
$icon_match: "\e92f";
$icon_menu: "\e930";
$icon_message: "\e931";
$icon_minimize: "\e932";
$icon_more: "\e933";
$icon_narrow: "\e934";
$icon_navigator: "\e935";
$icon_pin: "\e936";
$icon_planification: "\e937";
$icon_play: "\e938";
$icon_radar: "\e939";
$icon_reduce: "\e93a";
$icon_refresh: "\e93b";
$icon_remove: "\e93c";
$icon_restart: "\e93d";
$icon_satellite: "\e93e";
$icon_search: "\e93f";
$icon_sort_asc: "\e940";
$icon_sort_desc: "\e941";
$icon_stats: "\e942";
$icon_status: "\e943";
$icon_stop: "\e944";
$icon_table: "\e945";
$icon_thetis_logo: "\e946";
$icon_traffic_light: "\e947";
$icon_trash: "\e948";
$icon_upload: "\e949";
$icon_user_add: "\e94a";
$icon_user_remove: "\e94b";
$icon_user: "\e94c";
$icon_users: "\e94d";
$icon_walk: "\e94e";
$icon_wifi: "\e94f";

