$icomoon-font-family: "thetis_icon" !default;
$icomoon-font-path: "fonts" !default;

$add: "\e900";
$alert: "\e901";
$arrow_down_long: "\e902";
$arrow_down: "\e903";
$arrow_left_long: "\e904";
$arrow_left: "\e905";
$arrow_right_long: "\e906";
$arrow_right: "\e907";
$arrow_up_long: "\e908";
$arrow_up: "\e909";
$bell: "\e90a";
$binocular: "\e90b";
$books: "\e90c";
$bus: "\e90d";
$calendar: "\e90e";
$call: "\e90f";
$check: "\e910";
$close: "\e911";
$coincidence: "\e912";
$deviation: "\e913";
$display: "\e914";
$download: "\e915";
$edit: "\e916";
$error: "\e917";
$filter: "\e918";
$gps: "\e919";
$help: "\e91a";
$home: "\e91b";
$info: "\e91c";
$insert: "\e91d";
$linear_view: "\e91e";
$list: "\e91f";
$login: "\e920";
$logout: "\e921";
$maintenance: "\e922";
$map: "\e923";
$match: "\e924";
$menu: "\e925";
$message: "\e926";
$narrow: "\e927";
$pin: "\e928";
$planification: "\e929";
$play: "\e92a";
$radar: "\e92b";
$refresh: "\e92c";
$remove: "\e92d";
$restart: "\e92e";
$search: "\e92f";
$sort_asc: "\e930";
$sort_desc: "\e931";
$stats: "\e932";
$status: "\e933";
$stop: "\e934";
$table: "\e935";
$trash: "\e936";
$upload: "\e937";
$user_add: "\e938";
$user_remove: "\e939";
$user: "\e93a";
$users: "\e93b";

